.header{
    background-color: #043376;
    color: #05adf2;
    display: flex;
    justify-content: center;
    position: relative;
    width: 98em;
    text-decoration: none;
}
.headerContainer{
    width: 100%;
    max-width: 1024px;
    margin: 20px 0px 100px 0px;
    text-decoration: none;
}
.headerContainer.listMode{
    margin: 20px 0px 0px 0px;
    text-decoration: none;
}
.headerList{
    display: flex;
    gap: 40px;
    margin-bottom: 50px;
    text-decoration: none;
}
.headerSearchItem.active{
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
}
.headerDesc{
margin: 20px 0px;
}
.headerListItem{
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
}
.headerBtn{
    font-size: 15px;
    border-radius: 20px;
    cursor: pointer;
    padding: 10px;
    background-color: rgb(0, 166, 255);
    font-weight: 500;
    color: white;
    border: none;
    text-decoration: none;
}
.headerTitle{
    color: rgb(232, 200, 153);
    font-size: 25px;
    text-decoration: none;
}
.headerSearch{
height: 30px;
background-color: beige;
border: 3px solid rgb(234 207 43);
display: flex;
justify-content: space-around;
align-items: center;
padding: 10px 0px 10px;
border-radius: 5px;
bottom: -25px;
width: 100%;
max-width: 1024px;
position: absolute;
text-decoration: none;
}
.headerSearchItem{
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}
.headerSearchInput{
    border: none;
    outline: none;
    text-decoration: none;
}
.headerSearchText{
    color: lightslategray;
    cursor: pointer;
    color: black;
    margin-right: 10px; 
    text-decoration: none;
}
.date{
 position: absolute;
 top: 50px; 
 z-index: 2;
}
.options{
    position: absolute;
    top: 50px;
    background-color: white;
    color: black;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0.4);
    z-index: 2;
}
.optionItem{
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.optionCounter{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: black;
    text-decoration: none;
}
.optionCounterButton{
    width: 30px;
    height: 30px;
    border: 1px solid #0071c2;
    color: #0071c2;
    cursor: pointer;
    background-color: lightcyan;
    text-decoration: none;
}
.optionCounterButton:disabled{
    cursor: not-allowed;
}
.textStyle{
    text-decoration: none;
    background-color: #043376;
    color: #05adf2;
}